
body, html {
  margin: 0;
  padding: 0;


}



.navbar-custom {
  background-color: #d35400; 
  width: 100vw;

   display: grid;
   font-size: 18px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.);
}

.navbar-brand {
  font-size: 35px;
  margin-top: 20px;
  margin-right: 1600px;
  color: rgba(57, 16, 238, 0.952);
  list-style: none;
  display: inline-block;
  text-decoration: none;
}
.navbar-custom .navbar-nav .nav-link {
  padding: 0 15px;
}


.navbar-toggler {
  display: none;
  color: #ffffff;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: none;
}



.navbar-nav .nav-link {
  font-weight: bold;
  color: #ffffff88;
  
<<<<<<< HEAD
=======
  

}

.navbar-nav .nav-link:hover {
  background-color: #333333;
  color: #ffffff ;
  border-radius: 10px;
  transform: scale(1.05);
  transition: 0.5s;
}
.menu-icon{
 position: fixed;
  top: 0.5rem;
  right: 0.8rem;
  background:none;
  border: none;
  font-Size: 1.5rem;
  display: none;
   
  
}
@media (max-width: 768px) {
  .ms-auto{
    margin-left: 20rem;
  }
  .header{
    display: none;
  
    
  }
  .menu-icon {
    display: flex; 
    
     
  }
  .navbar-nav .nav-link {
  font-weight: bold;
  color: #ffffff88;
  
>>>>>>> bbb04a0973af64777ec7f55ad558cd9dd5de877e

}

.navbar-nav .nav-link:hover {
  color: #000000;
  transform: scale(1.05);
  transition: 0.5s;
}
<<<<<<< HEAD
.menu-icon{
  position: fixed;
  display: inline-block;
  top: 1rem;
  right: 1rem;
  background:none;
  border: 'none';
  font-Size: '1.5rem';
   margin-Left: '1rem';
   display: none;
 
  
  
  
}
@media (max-width: 768px) {
  .header{
    display: none;
    
  }
  .menu-icon {
    display: flex; 
     
  }
=======
>>>>>>> bbb04a0973af64777ec7f55ad558cd9dd5de877e

 
}
