
.category-buttons {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

.card-grid {
  
   width: 100%;
  margin: 0 auto;
  padding: 0 8px; 
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  overflow: hidden;
}

 
  


.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
   display: flex;
   color: #f5f5f5;
   padding: 10px;
   width: 100%;
   max-width: 100%;
   flex-direction: row;
   margin: 0 auto;
   border-radius: 15px;
   box-sizing: border-box;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);

  
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
}

.product-title {
  font-weight: bold;

}
.menu-content {
  background-color: #2c2c2c;
}


.category-buttons .MuiButton-root {
  margin-right: 8px;
  flex-shrink: 0;     
}
@media (min-width: 600px) {
  .category-buttons {
    display: grid;
    flex-wrap: wrap;      
    overflow-x: visible;  
    white-space: normal;
    justify-content: flex-start;
    flex-direction: column;
  }

 
 
}

@media (min-width: 748px){
  .product-card{
    flex-direction: column;
    min-width: 100%;
  }
  
   .card-grid {
    padding: 0 4px;
    gap: 8px;
    flex-direction: column;
  }
}





