.category-buttons {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

.category-buttons button {
  width: 100%;
  max-width: 300px;
}

.card-grid {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px; 
  justify-content: flex-start;
  overflow: visible;
}

.product-card {
   border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 8px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}


.product-title {
  font-weight: bold;
}


.category-buttons .MuiButton-root {
  margin-right: 8px;
  flex-shrink: 0;
}


@media (min-width: 600px) {
  .category-buttons {
    display: grid;
    flex-wrap: wrap;      
    overflow-x: visible;  
    white-space: normal;
    justify-content: flex-start;
    flex-direction: column;
  }

  .category-buttons .MuiButton-root {
    margin-bottom: 8px;
  }

  .product-card {
    flex-direction: column;
    min-width: 100%;
  }
}

@media (max-width: 767px) {
  .category-buttons {
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;  
    white-space: normal;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    display: none; 
  }

  .product-card {
    flex-direction: column;
    min-width: 100%;
  }

  .card-grid {
    padding: 0 4px;
    gap: 8px;
    flex-direction: column;
  }
}
